# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info

# Documentation & markdown
**/*.md

# Tests
**/tests/**
**/__tests__/**

# Source maps (should not be present in prod build)
**/*.map

# Env
.env
*.env
.env.*

# VCS
.git
.gitignore

# IDE
.vscode
.idea
