Django==5.1.10
djangorestframework==3.16.1
gunicorn==23.0.0
psycopg[binary]==3.2.10
whitenoise==6.10.0
django-cors-headers==4.8.0
python-dotenv==1.1.1
celery==5.5.3
redis==5.0.7
dj-database-url==2.2.0
stripe==10.6.0
PyJWT==2.10.1
djangorestframework-simplejwt==5.5.1
reportlab==4.4.3
python-docx==1.2.0
ruff==0.12.12
pdfminer.six==20240706
PyYAML==6.0.2
requests==2.32.5  # GHSA-9hjg-9r4m-mvj7
